// home
* {
  transition: 250ms ease-in-out;
}
.wow {
  visibility: hidden;
}

a {
  color: #f82249;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #f8234a;
  outline: none;
  text-decoration: none;
}

.hero {
  background-image: url(../img/chilli-peppers.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding-top: 29vh;
  padding-bottom: 20vh;
}


// #hero {
// 	.play-btn {
// 		width: 94px;
// 		height: 94px;
// 		background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
// 		border-radius: 50%;
// 		display: block;
// 		position: relative;
// 		overflow: hidden;
// 		&::after {
// 			content: '';
// 			position: absolute;
// 			left: 50%;
// 			top: 50%;
// 			transform: translateX(-40%) translateY(-50%);
// 			width: 0;
// 			height: 0;
// 			border-top: 10px solid transparent;
// 			border-bottom: 10px solid transparent;
// 			border-left: 15px solid #fff;
// 			z-index: 100;
// 			transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
// 		}
// 		&:before {
// 			content: '';
// 			position: absolute;
// 			width: 120px;
// 			height: 120px;
// 			animation-delay: 0s;
// 			animation: pulsate-btn 2s;
// 			animation-direction: forwards;
// 			animation-iteration-count: infinite;
// 			animation-timing-function: steps;
// 			opacity: 1;
// 			border-radius: 50%;
// 			border: 2px solid rgba(163, 163, 163, 0.4);
// 			top: -15%;
// 			left: -15%;
// 			background: rgba(198, 16, 0, 0);
// 		}
// 		&:hover {
// 			&::after {
// 				border-left: 15px solid #f82249;
// 				transform: scale(20);
// 			}
// 			&::before {
// 				content: '';
// 				position: absolute;
// 				left: 50%;
// 				top: 50%;
// 				transform: translateX(-40%) translateY(-50%);
// 				width: 0;
// 				height: 0;
// 				border: none;
// 				border-top: 10px solid transparent;
// 				border-bottom: 10px solid transparent;
// 				border-left: 15px solid #fff;
// 				z-index: 200;
// 				animation: none;
// 				border-radius: 0;
// 			}
// 		}
// 	}
// }


// about
.about {
  background: $black;
  padding-top: 2em;
}

.about-title {
  background: url(../img/theband.jpg);
  background-size: cover;
  background-position: top;
  color: $white;
  min-height: 40vw;
  @include media-breakpoint-up(lg) {
    padding-top: 10vh;
    padding-bottom: 15vh;
  }
}

.about-text {
  padding-top: 6vh;
  padding-bottom: 6vh;
  @include media-breakpoint-up(lg) {
    padding-top: 10vh;
    padding-bottom: 15vh;
  }
}

.band-member {
  margin-bottom: 1.5em;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
  background: $black;
  @include media-breakpoint-up(md) {
    position: absolute;
    top: -4em;
    z-index: 100;
  }
}

.band-member-name {
  font-family: $sans;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.band-member-position {
  color: $gray-500;
  font-size: 0.7em;
}

//our music

.music {
  margin-top: 2vmax;
  padding-top: 1em;
  padding-bottom: 2em;
}

.album:hover {
  z-index: 99;
  transform: scale(1.05);
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
  transition: transform 350ms ease-in-out;
}

.music-container {
  background: $black;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
  padding-top: 4vmin;
  padding-bottom: 4vh;
}

.music-title {
  margin-bottom: 0.5em;
}

.music-cta {
  margin-top: 2em;
}

// upcoming shows
.upcoming-shows {
  padding-top: 2em;
}

.shows {
  margin-top: 2em;
}

.show-title {
  font-family: $sans;
  @media (max-width: 1000px) {
    font-size: 1em;
  }
}

.show-info {
  display: flex;
  flex-direction: column;
  color: $white;
  background: rgba(0, 0, 0, 0.6);
  @media (max-width: 1000px) {
    font-size: 1em;
    .btn {
      margin-left: 20%;
      margin-right: 20%;
    }
  }
}

.show-info > * {
  margin-bottom: 0;
}

.date {
  font-weight: $bold;
  margin-top: 1.25em;
  .far {
    margin-right: 0.5em;
  }
}

.price {
  font-weight: $bold;

  small {
    font-weight: $normal;
  }
  .fas {
    margin-right: 0.5em;
    transform: rotate(-20deg);
  }
}
