// home
* {
  transition: 250ms ease-in-out;
}
.wow {
  visibility: hidden;
}

.hero {
  background-image: url(../img/chilli-peppers.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding-top: 29vh;
  padding-bottom: 30vh;
  @media (min-width:1500px ) {
    padding-bottom: 40vh;
  }

  .play-btn {
    background-color: $primary;
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.3);
    color: $white;
    font-size: 50px;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 5.5em;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    @media (max-width:990px) {
      top:10em;
    }
    @media (max-width:768px) {
      top:15em;
    }
    &:hover{
      background: lighten($primary, 20);
      box-shadow: 0px 0px 4px 10px rgba(255, 255, 255, 0.5);
    }
    &:hover .fas{
      transform: scale(0.8);
      color: lighten($gray, 60);
    }
    i {
      line-height: 90px;
      margin-left: 9px;
    }
    
    &::after { //pulse
      content: "";
      position: absolute;
      border: 20px solid $primary;
      border-radius: 50%;
      left: -20px;
      right: -20px;
      bottom: -20px;
      top: -20px;
      animation: animate 1.5s linear infinite;
      opacity: 0;
    }
    &:hover::after {
      animation-duration: 0.5s;
      border: 10px solid lighten($primary, 20);
    }
    @keyframes animate {
      0% {
        transform: scale(0.6);
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: scale(0.9);
      }
    }
  }
}

// about
.about {
  background: $black;
}

.about-title {
  background: url(../img/theband.jpg);
  background-size: cover;
  background-position: top;
  color: $white;
  min-height: 40vw;
  @include media-breakpoint-up(lg) {
    padding-top: 10vh;
    padding-bottom: 15vh;
  }
}

.about-text {
  padding-top: 6vh;
  padding-bottom: 6vh;
  @include media-breakpoint-up(lg) {
    padding-top: 10vh;
    padding-bottom: 15vh;
  }
}

.band-member {
  margin-bottom: 1.5em;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
  background: $black;
  @include media-breakpoint-up(md) {
    position: absolute;
    top: -4em;
    z-index: 100;
  }
}

.band-member-name {
  font-family: $sans;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.band-member-position {
  color: $gray-500;
  font-size: 0.7em;
}

//our music

.music {
  margin-top: 2vmax;
  padding-top: 1em;
  padding-bottom: 2em;
}

.album:hover {
  z-index: 99;
  transform: scale(1.05);
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
  transition: transform 350ms ease-in-out;
}

.music-container {
  background: $black;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
  padding-bottom: 4vh;
}

.music-title {
  margin-bottom: 0.3em;
}

.music-cta {
  margin-top: 1.5em;
}

// upcoming shows
.upcoming-shows {
  padding-top: 2em;
}

.shows {
  margin-top: 2em;
}

.show-info {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: $white;
  background: rgba(0, 0, 0, 0.6);
  @media (max-width: 1000px) {
    font-size: .9em;
  }
}

.show-info > * {
  margin-bottom: 0;
}

