// Styling for the navbar
#mainNav {
  background-color: $black;
  box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);

  //toggle menu
  
  .navbar-toggler {
    font-size: .8em;
    font-weight: $bold;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $brand-primary;
    outline-color: lighten($brand-primary, 30);
    @include heading-font;
  }
  //logo
  .navbar-brand {
    color: $primary;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: lighten($primary, 50%);
    }
    svg {
      position: absolute;
      margin-top: -.9em;
      transform: scale(0.9);
    }
    svg:hover {
      .cls-2{
        fill: lighten($primary, 30%);
      }
      .cls-1{
        fill: darken(white, 30%);
      }
    }
  }
  //nav toglled
  .navbar-nav {
    .nav-item {
      .nav-link {
        text-align: end;
        font-size: 90%;
        font-weight: $bold;
        padding: 0.2em 0;
        letter-spacing: 1px;
        color: white;
        @include heading-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
//expand
@media(min-width:992px) {
  #mainNav {
    border: none;
    background-color: $black;
    .navbar-brand {
      font-size: 1.9em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      svg:hover{
        transform: scale(1);
        .cls-1{
          fill: #bd0837;
        }
        .cls-2 {
          fill: white;
        }
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      top:0;
      padding-top: 0;
      padding-bottom: 0;
      background-color: $black;
      box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
      .navbar-brand {
        font-size: 1.25em;
        padding: 0.1em 0;
      }
    }
  }
}

