.parallax {
  display: none;
  @include media-breakpoint-up(lg) {
    height: 35vmax;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    display: block;
  }
}

.parallax-home {
  background-image: url(../../img/parallax.jpg);
}
